.highlight-yellow {
    background: rgb(255, 255, 100);
    color: black;
}

.highlight-orange {
    background: rgb(255, 170, 50);
    color: black;
}

.highlight-red {
    background: rgb(255, 80, 80);
    color: white;
}
